.form {
  width: 800px;
  font-size: 1rem;
}

svg {
  margin-bottom: 1rem;
}


.header-wrapper {
  display: flex;
  width: 90vw;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

}

header {
  flex: 50%;
}
h1, h2 {
  text-align: center;
}

@media only screen and (min-width: 560px) {
  h2, h3 {
    text-align: left;
    margin-left: 1rem;
  }
}